Repository Serrala-Test/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, EXAMPLES, CORE, SPARK SUBMIT, SPARK SHELL, SQL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, R, YARN, MESOS, KUBERNETES, WINDOWS, WEB UI, DEPLOY, COMMON, API, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

### FOLLOWING IS THE OLD probot autolabeler config that needs to be updated
# INFRA has been updated
INFRA:
  - ".github/**/*"
  - "appveyor.yml"
  - "tools/**/*"
  - "/dev/create-release/**/*"
  - ".asf.yaml"
  - ".gitattributes"
  - ".gitignore"
  - "/dev/github_jira_sync.py"
  - "/dev/merge_spark_pr.py"
  - "/dev/run-tests-jenkins*"
# BUILD has been updated with some lingering questions
BUILD:
  - "/dev/**/*"
  - "!/dev/github_jira_sync.py"
  - "!/dev/merge_spark_pr.py"
  - "!/dev/run-tests-jenkins*"
  - "!/dev/.rat-excludes"
  - "/build/*"  # TODO - This currently has no nested structures, should we account for potential nested folders in the future?
  - "/project/*"  # TODO - Same note as above
  - "/assembly/*"  # TODO - Same note as above
  - "**/*pom.xml"
  - "/bin/docker-image-tool.sh"
  - "/bin/find-spark-home*"
  - "scalastyle-config.xml"
# DOCS has been updated but with some needed tests
DOCS:
  - "docs/**/*"
  - "**/README.md"  # TODO - Verify this matches on a nested README
  - "**/CONTRIBUTING.md"  # TODO - Same as above
# EXAMPLES has been updated
EXAMPLES:
  - "examples/**/*"
  - "/bin/run-example*"
# Core has been updated with some verification needed.
CORE:
  - "/core/**/*"
  - "!**/UI.scala"  # TODO - Verify this change
  - "!**/ui/**/*"  # TODO - Verify this change
  - "/common/kvstore/**/*"
  - "/common/network-common/**/*"
  - "/common/network-shuffle/**/*"
  - "/python/pyspark/**/*.py"  # TODO - Do we ned one more glob for subdirs?
  - "/python/pyspark/tests/**/*.py"  # TODO - Same as above.
# Updated
SPARK SUBMIT:
  - "/bin/spark-submit*"
# Updated
SPARK SHELL:
  - "/repl/**/*"
  - "/bin/spark-shell*"
# Updated - Needs testing
SQL:
  - "**/sql/**/*"  # TODO - Need to verify intermediate directories
  - "/common/unsafe/**/*"
  - "!/python/pyspark/sql/avro/**/*"
  - "!/python/pyspark/sql/streaming.py"
  - "!/python/pyspark/sql/tests/test_streaming.py"
  - "/bin/spark-sql*"
  - "/bin/beeline*"
  - "/sbin/*thriftserver*.sh"
  - "**/*SQL*.R"  # TODO - Verify this one
  - "**/*/DataFrame.R"  # TODO - Verify this one
  - "**/*/WindowSpec.R"  # TODO - Verify all the rest
  - "**/*catalog.R"
  - "**/*column.R"
  - "**/*functions.R"
  - "**/*group.R"
  - "**/*schema.R"
  - "**/*types.R"
# Updated
AVRO:
  - "/external/avro/**/*"
  - "/python/pyspark/sql/avro/**/*"
# Updated
DSTREAM:
  - "/streaming/**/*"
  - "/data/streaming/**/*"
  - "/external/flume*"  # TODO - Does this need to be /external/flume*/**/*?
  - "/external/kinesis*"  # TODO - Same as above
  - "/external/kafka*"  # TODO - Same as above
  - "/python/pyspark/streaming/**/*"
# Updated
GRAPHX:
  - "/graphx/**/*"
  - "/data/graphx/**/*"
# Updated
ML:
  - "**/ml/**/*"
  - "**/*mllib_*.R"
MLLIB:
  - "**/spark/mllib/"  # TODO - Is it intentional to not label mllib/benchmarks/* as MLLIB, etc?
  - "/mllib-local/**/*"
  - "/python/pyspark/mllib/**/*"
STRUCTURED STREAMING:
  - "sql/**/streaming/"  # TODO - Does this one need editing?
  - "/external/kafka-0-10-sql/**/*"
  - "/python/pyspark/sql/streaming.py"
  - "/python/pyspark/sql/tests/test_streaming.py"
  - "**/*streaming.R"
# Updated - Needs tests
PYTHON:
  - "/bin/pyspark*"
  - "**/python/**/*"  # TODO - Check this glob - was "python/"
R:
  - "r/"
  - "R/"
  - "/bin/sparkR*"
# Updated - Needs tests
YARN:
  - "/resource-managers/yarn/**/*"
# Updated
MESOS:
  - "/resource-managers/mesos/**/*"
  - "/sbin/*mesos*.sh"
# Updated
KUBERNETES:
  - "/resource-managers/kubernetes/**/*"
# Updated - Should test cmd
WINDOWS:
  - "**/*.cmd"
  - "/R/pkg/tests/fulltests/test_Windows.R"
# Updated - first glob needs testing
WEB UI:
  - "**/ui/**/*"
  - "**/UI.scala"
# Updated
DEPLOY:
  - "/sbin/**/*"



#### TAKEN FROM ICEBERG LABELER AS A REFERENCE
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - baseline.gradle
  - deploy.gradle
  - jitpack.yml
  - travis.yml
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - "**/*gradle*"
  - versions.props
DOCS:
  - site/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
EXAMPLES:
  - examples/**/*
COMMON:
  - common/**/*
API:
  - api/**/*
CORE:
  - core/**/*
PYTHON:
  - python/**/*
PARQUET:
  - parquet/**/*
ARROW:
  - arrow/**/*
ORC:
  - orc/**/*
HIVE:
  - hive3/**/*
  - hive-metastore/**/*
  - hive-runtime/**/*
DATA:
  - data/**/*
SPARK:
  - spark-runtime/**/*
  - spark3-runtime/**/*
  - spark/**/*
  - spark2/**/*
  - spark3/**/*
FLINK:
  - flink-runtime/**/*
  - flink/**/*
MR:
  - mr/**/*
PIG:
  - pig/**/*

Support yarn's AM failure validity interval
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnRMClient.scala
Labels: SQL

Add a test
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Labels: SQL

Add a setting to force using java tmp dir versus local dirs for local rocksdb data
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
Labels: SQL

Track conditionally evaluated expressions to resolve as subexpressions for cases they are already being evaluated
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/EquivalentExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/conditionalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/nullExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/SubexpressionEliminationSuite.scala
Labels: SQL

Always use java tmpdir for yarn
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Labels: SQL

rename alter column errors and merge _LEGACY_ERROR_TEMP_1113
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/change-column.sql.out
  sql/core/src/test/resources/sql-tests/results/change-column.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalogSuite.scala
Labels: SQL, COMMON

fix some test cases
  common/utils/src/main/resources/error/error-conditions.json
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Labels: SQL, COMMON

optimize
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Labels: SQL

optimize test cases
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
Labels: SQL

SPARK-48428: Fix IllegalStateException in NestedColumnAliasing
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasing.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasingSuite.scala
Labels: SQL

Better name
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasing.scala
Labels: SQL

assigne names to error classes _LEGACY_ERROR_TEMP_127[0-5]
  common/utils/src/main/resources/error/error-conditions.json
  common/utils/src/main/resources/error/error-states.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowCreateTableSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveSQLViewSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowCreateTableSuite.scala
Labels: SQL, COMMON

fix test cases in /HiveSQLViewSuite
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveSQLViewSuite.scala
Labels: SQL

fix test cases in /HiveSQLViewSuite
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveSQLViewSuite.scala
Labels: SQL

fix test cases in /HiveSQLViewSuite
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveSQLViewSuite.scala
Labels: SQL

fix test cases in SparkThrowableSuite
  common/utils/src/main/resources/error/error-conditions.json
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowCreateTableSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveSQLViewSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowCreateTableSuite.scala
Labels: SQL, COMMON

retry
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/BlockStoreClient.java
  core/src/test/scala/org/apache/spark/storage/ShuffleBlockFetcherIteratorSuite.scala
Labels: CORE, SQL, COMMON

parser
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/api/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/RoutineLanguage.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/UserDefinedFunctionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CreateSQLFunctionCommand.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CreateUserDefinedFunctionCommand.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLParserSuite.scala
Labels: SQL

add blankline
  common/utils/src/main/resources/error/error-conditions.json
Labels: SQL, COMMON

Enhance Python Datasource Reader with direct Arrow Batch support for improved performance
  python/pyspark/sql/datasource.py
  python/pyspark/sql/tests/test_python_datasource.py
  python/pyspark/sql/worker/plan_data_source_read.py
Labels: SQL, PYTHON

Add framework to implement upsert via temp table
  common/utils/src/main/resources/error/error-conditions.json
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/UpsertTests.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcRelationProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MergeByTempTable.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: SQL, COMMON

Implementation for MsSqlServer
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MsSqlServerIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MsSqlServerDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: SQL

Implementation for Derby
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DerbyDialect.scala
Labels: SQL

Implemenation for H2
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCWriteSuite.scala
Labels: SQL

Modify tests so they work for Oracle
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/UpsertTests.scala
Labels: SQL

Implementation for Postgres
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/PostgresIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
Labels: SQL

Implementation for Oracle
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
Labels: SQL

Fix JDBC+Oservation test
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
Labels: SQL

Temp tables in Derby use SESSION schema
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DerbyDialect.scala
Labels: SQL

Fix after rebase master
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MergeByTempTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Labels: SQL

Fix minor typo
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
Labels: SQL
