Repository Serrala-Test/spark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, EXAMPLES, CORE, SPARK SUBMIT, SPARK SHELL, SQL, AVRO, DSTREAM, GRAPHX, ML, MLLIB, STRUCTURED STREAMING, PYTHON, R, YARN, MESOS, KUBERNETES, WINDOWS, WEB UI, DEPLOY, COMMON, API, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG

[SPARK-43242] fix throw 'Unexpected type of BlockId' in diagnose when batch block shuffle is corrupted
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Labels: CORE, SQL

clean format
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Labels: CORE, SQL

Introduce ScopedExpression that resolves an expression against a scoped set of attributes only
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Test columns created by AppendColumns
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Introduce precedence of data columns over grouping columns when resolving expressions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveReferencesInAggregate.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Suggest columns from the scope for unresolved ScopedExpressions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Use rule to scope sort order expressions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
Labels: SQL

Add scope attributes to ScopedExpression children
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
Labels: SQL

Improve tests, reduce duplicated code, test group sort order
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Scope aggregate columns in SparkConnectPlanner
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
Labels: SQL

Add analysis test
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
Labels: SQL

Remove debug logging
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Labels: SQL

Fix match error
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
Labels: SQL

Fix imports
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
Labels: SQL

Use Seq[Attribute], not implict class AttributeSeq
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
Labels: SQL

Add issue to comments
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
Labels: SQL

Discard stdout / stderr of test Spark connect server if not isDebug
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/test/RemoteSparkSession.scala
Labels: SQL

Add KUBERNETES_NAMESPACE, rename pod name to KUBERNETES_POD_NAME
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackendSuite.scala
Labels: SQL

Prefer env vars over kubernetes backend attributes
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackendSuite.scala
Labels: SQL

Support custom executor log urls
  docs/configuration.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackendSuite.scala
Labels: SQL

Add option to kubernetes docs
  core/src/main/scala/org/apache/spark/internal/config/UI.scala
  docs/configuration.md
  docs/running-on-kubernetes.md
Labels: CORE, SQL, WEB UI

Add unit tests
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackendSuite.scala
Labels: SQL

Add option to set custom driver log url with pattern replacement
  core/src/main/scala/org/apache/spark/internal/config/UI.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
Labels: CORE, SQL, WEB UI

Refer to driver in docs, not executor
  docs/running-on-kubernetes.md
Labels: SQL

Add pod name variable
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Labels: SQL

Fix case of 'Spark' in option description
  core/src/main/scala/org/apache/spark/internal/config/UI.scala
  docs/configuration.md
Labels: CORE, SQL, WEB UI

Add option to docs
  docs/configuration.md
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Labels: SQL

Support custom driver log urls
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Labels: SQL

[SPARK-41667][K8S] Expose env var SPARK_DRIVER_POD_NAME in Driver Pod
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Constants.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
Labels: SQL

[SPARK-47263][SQL] Rename the error class _LEGACY_ERROR_TEMP_13[44-46]: 44 to internal err, 45 to DEFAULT_UNSUPPORTED, 46 to ADD_DEFAULT_UNSUPPORTED
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/StructTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
Labels: SQL, COMMON

SPARK-48177: Bump Apache Parquet to 1.14.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Labels: INFRA, SQL

[SPARK-44811][BUILD] Bump Guava 33.1.0-jre
  assembly/pom.xml
  core/pom.xml
  pom.xml
  project/SparkBuild.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/IntervalExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
Labels: CORE, SQL

fix
  dev/deps/spark-deps-hadoop-3-hive-2.3
Labels: INFRA, SQL

nit
  assembly/pom.xml
Labels: SQL

Remove unnecessary extra variable copies
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
Labels: SQL

Improve some styling
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
Labels: SQL

Add codegen support to array functions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/EquivalentExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Labels: SQL

Remove unnecessary variableName and clean up some formatting
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Labels: SQL

Test setup
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnClusterSuite.scala
Labels: SQL

Get test working
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnClusterSuite.scala
Labels: SQL

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

### FOLLOWING IS THE OLD probot autolabeler config that needs to be updated
# INFRA has been updated
INFRA:
  - ".github/**/*"
  - "appveyor.yml"
  - "tools/**/*"
  - "/dev/create-release/**/*"
  - ".asf.yaml"
  - ".gitattributes"
  - ".gitignore"
  - "/dev/github_jira_sync.py"
  - "/dev/merge_spark_pr.py"
  - "/dev/run-tests-jenkins*"
# BUILD has been updated with some lingering questions
BUILD:
  - "/dev/**/*"
  - "!/dev/github_jira_sync.py"
  - "!/dev/merge_spark_pr.py"
  - "!/dev/run-tests-jenkins*"
  - "!/dev/.rat-excludes"
  - "/build/*"  # TODO - This currently has no nested structures, should we account for potential nested folders in the future?
  - "/project/*"  # TODO - Same note as above
  - "/assembly/*"  # TODO - Same note as above
  - "**/*pom.xml"
  - "/bin/docker-image-tool.sh"
  - "/bin/find-spark-home*"
  - "scalastyle-config.xml"
# DOCS has been updated but with some needed tests
DOCS:
  - "docs/**/*"
  - "**/README.md"  # TODO - Verify this matches on a nested README
  - "**/CONTRIBUTING.md"  # TODO - Same as above
# EXAMPLES has been updated
EXAMPLES:
  - "examples/**/*"
  - "/bin/run-example*"
# Core has been updated with some verification needed.
CORE:
  - "/core/**/*"
  - "!**/UI.scala"  # TODO - Verify this change
  - "!**/ui/**/*"  # TODO - Verify this change
  - "/common/kvstore/**/*"
  - "/common/network-common/**/*"
  - "/common/network-shuffle/**/*"
  - "/python/pyspark/**/*.py"  # TODO - Do we ned one more glob for subdirs?
  - "/python/pyspark/tests/**/*.py"  # TODO - Same as above.
# Updated
SPARK SUBMIT:
  - "/bin/spark-submit*"
# Updated
SPARK SHELL:
  - "/repl/**/*"
  - "/bin/spark-shell*"
# Updated - Needs testing
SQL:
  - "**/sql/**/*"  # TODO - Need to verify intermediate directories
  - "/common/unsafe/**/*"
  - "!/python/pyspark/sql/avro/**/*"
  - "!/python/pyspark/sql/streaming.py"
  - "!/python/pyspark/sql/tests/test_streaming.py"
  - "/bin/spark-sql*"
  - "/bin/beeline*"
  - "/sbin/*thriftserver*.sh"
  - "**/*SQL*.R"  # TODO - Verify this one
  - "**/*/DataFrame.R"  # TODO - Verify this one
  - "**/*/WindowSpec.R"  # TODO - Verify all the rest
  - "**/*catalog.R"
  - "**/*column.R"
  - "**/*functions.R"
  - "**/*group.R"
  - "**/*schema.R"
  - "**/*types.R"
# Updated
AVRO:
  - "/external/avro/**/*"
  - "/python/pyspark/sql/avro/**/*"
# Updated
DSTREAM:
  - "/streaming/**/*"
  - "/data/streaming/**/*"
  - "/external/flume*"  # TODO - Does this need to be /external/flume*/**/*?
  - "/external/kinesis*"  # TODO - Same as above
  - "/external/kafka*"  # TODO - Same as above
  - "/python/pyspark/streaming/**/*"
# Updated
GRAPHX:
  - "/graphx/**/*"
  - "/data/graphx/**/*"
# Updated
ML:
  - "**/ml/**/*"
  - "**/*mllib_*.R"
MLLIB:
  - "**/spark/mllib/"  # TODO - Is it intentional to not label mllib/benchmarks/* as MLLIB, etc?
  - "/mllib-local/**/*"
  - "/python/pyspark/mllib/**/*"
STRUCTURED STREAMING:
  - "sql/**/streaming/"  # TODO - Does this one need editing?
  - "/external/kafka-0-10-sql/**/*"
  - "/python/pyspark/sql/streaming.py"
  - "/python/pyspark/sql/tests/test_streaming.py"
  - "**/*streaming.R"
# Updated - Needs tests
PYTHON:
  - "/bin/pyspark*"
  - "**/python/**/*"  # TODO - Check this glob - was "python/"
R:
  - "r/"
  - "R/"
  - "/bin/sparkR*"
# Updated - Needs tests
YARN:
  - "/resource-managers/yarn/**/*"
# Updated
MESOS:
  - "/resource-managers/mesos/**/*"
  - "/sbin/*mesos*.sh"
# Updated
KUBERNETES:
  - "/resource-managers/kubernetes/**/*"
# Updated - Should test cmd
WINDOWS:
  - "**/*.cmd"
  - "/R/pkg/tests/fulltests/test_Windows.R"
# Updated - first glob needs testing
WEB UI:
  - "**/ui/**/*"
  - "**/UI.scala"
# Updated
DEPLOY:
  - "/sbin/**/*"



#### TAKEN FROM ICEBERG LABELER AS A REFERENCE
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - baseline.gradle
  - deploy.gradle
  - jitpack.yml
  - travis.yml
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - "**/*gradle*"
  - versions.props
DOCS:
  - site/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
EXAMPLES:
  - examples/**/*
COMMON:
  - common/**/*
API:
  - api/**/*
CORE:
  - core/**/*
PYTHON:
  - python/**/*
PARQUET:
  - parquet/**/*
ARROW:
  - arrow/**/*
ORC:
  - orc/**/*
HIVE:
  - hive3/**/*
  - hive-metastore/**/*
  - hive-runtime/**/*
DATA:
  - data/**/*
SPARK:
  - spark-runtime/**/*
  - spark3-runtime/**/*
  - spark/**/*
  - spark2/**/*
  - spark3/**/*
FLINK:
  - flink-runtime/**/*
  - flink/**/*
MR:
  - mr/**/*
PIG:
  - pig/**/*
